# Git & Github
/.gitattributes export-ignore
/.gitignore export-ignore
/.github export-ignore

# Tests
/phpunit.xml.dist export-ignore
/tests export-ignore

# Docker
/Dockerfile export-ignore
/docker-compose.yml export-ignore

# Common
/phpstan.neon export-ignore
