parameters:
    level: 8
    paths:
        - src

    ignoreErrors:
        -
            message: '#Parameter \#1 (\$callback|\$input) of function set_error_handler expects#'
            path: src/

        -
            message: '#Call to an undefined method Illuminate\\Database\\ConnectionInterface::getConfig\(\)#'
            path: src/

        -
            message: '#Call to an undefined method (.+)::executeQuery\(\)#'
            path: src/

        -
            message: '#Call to an undefined method (.+)\\Connection::get(Host|Port|Username)\(\)#'
            path: src/

        -
            message: '#^Property FiveLab\\Component\\Diagnostic\\Command\\.+::\$(defaultName|defaultDescription) has no type specified.$#'
            path: src/